<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>payment get way</title>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


</head>
<body>
  {% block content %}
  {% load static %}
  {% load crispy_forms_tags %}
  
  <div class="container py-5  ">
    <div class="row justify-content-center">
      <div class="col-md-4 bg-light border border-info p-2">
        <h2>Payment Gateway</h2>
        {% crispy form %} <!-- Specify the template_pack -->
         
        <br>
        {% if payment %}
        <form action="{% url 'payment_status' %}" method="POST">
          {% csrf_token %}
          <script src="https://checkout.razorpay.com/v1/checkout.js" 
          
          data-key="rzp_test_RMhMnsA5Q9AKnu" 
          data-amount="{{payment.amount}}" 
          data-currency="{{payment.currency}}" 
          data-order_id="{{payment.id}}" 
          data-buttontext="Pay with Razorpay" 
          data-name="online payment get way shop"
          data-description="online shopping is a good for customer. and save time & save your money"
          data-image="{% static 'assets/img/logo/ecom_logo.png' %}" data-prefill.name="{{payment.name}}"
          data-prefill.email="lavudyasomani143@gmail.com" 
          data-theme.color="#F37254">
        </script>
          <input type="hidden" custom="Hidden Element" name="hidden" />
        </form>
        {% endif %}
      </div>
    </div>
  </div>
  {% endblock %}












<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
